<%- include("header") %>
<body>
    <h1>START THE QUIZ</h1>
    <form action="/submit_answers" method="post"> <!-- Set the action and method for the form -->
        <div class="ques_container">
            <% for(let i=0; i<quiz_questions.length; i++) { %>
                <div class="ques">
                    <p name="q<%= i %>"><%= quiz_questions[i].question.text %></p>
                    <label>
                        <input type="radio" name="<%= i %>_opt1" value="1"> <%= quiz_questions[i].incorrectAnswers[0] %>
                    </label><br>
                    <label>
                        <input type="radio" name="<%= i %>_opt2" value="2"> <%= quiz_questions[i].incorrectAnswers[1] %>
                    </label><br>
                    <label>
                        <input type="radio" name="<%= i %>_opt3" value="3"> <%= quiz_questions[i].incorrectAnswers[2] %>
                    </label><br>
                    <label>
                        <input type="radio" name="<%= i %>_opt4" value="4"> <%= quiz_questions[i].correctAnswer %>
                    </label><br>
                </div>
            <% } %>
        </div>
        <button type="submit">SUBMIT ANSWERS</button>
    </form>
    <%- include("footer") %>
</body>
