
<%- include("header") -%>
<body>
  <header class="header">
    <h1><%= userType %> <%= opType %> </h1>
  </header>
  <div class="form_div">
    <%- include("form") -%>
  </div>

</body>
  <%- include("footer") -%>